.popup__form-item {
  width: 100%;
  min-height: 32px;
  margin: 0 0 5px;
  padding: 0;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

@media screen and (max-width: 560px) {
  .popup__form-item {
    margin-bottom: 24px;
  }
}
