.popup__submit-btn {
  width: 358px;
  height: 50px;
  margin: 15px 0 0;
  padding: 0;
  border-width: 0;
  background-color: #000;
  border-radius: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFF;
  cursor: pointer;
  transition: opacity 0.4s cubic-bezier(.61,.13,.24,.76) 0s;
}

.popup__submit-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 560px) {
  .popup__submit-btn {
    width: 238px;
    height: 46px;
    margin-top: 45px;
    font-size: 14px;
    line-height: 17px;
  }
}
